# Flutter / Dart
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub-cache/
**/.pub/
**/android/.gradle/
**/android/local.properties
**/android/app/build/
**/android/app/build/outputs/

# Python
**/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.db
*.sqlite3

# Environment & IDE
.env
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
